<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SaveMultiple.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SaveMultiple.Properties.Settings>
            <setting name="ch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="img" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="snp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dir" serializeAs="String">
                <value>C:\Users\Public\Documents\Network Analyzer</value>
            </setting>
            <setting name="sing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="title" serializeAs="String">
                <value>dat</value>
            </setting>
        </SaveMultiple.Properties.Settings>
    </userSettings>
</configuration>